@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";
@import "@/styles/mixins.scss";
@import "@/styles/responsive.scss";
@import "@/styles/layout.scss";

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

html {
	font-size: 14px;
}

body {
	min-height: 100vh;
	max-width: 100vw;
}


.fade-enter-active, .fade-leave-active {
	transition: opacity .65s ease;
}

.fade-enter-from, .fade-leave-to {
	opacity: 0;
}

.main-container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100%;

	.main {
		width: 100%;
		max-width: 36rem;
	}

	&-parsed {
		align-items: normal;
	}
}

